---
interface Props {
	title: string;
}

const { title } = Astro.props;

const openGraph = {
	width: "1200",
	height: "600",
	title: "La Angelada",
	content: "Te invito a conocer mi labor y probar este Sanador Arte de la Buenas Vibras para transformar tu casa, tu energía y tu Vida",
	url: "https://laangelada.vercel.app/open-graph-img.webp"
}
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon-96x96.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="keywords" content="la, angelada, la.angelada,pao, fu, feng, shui, metafísica, consultoría, asesora, salud, bienestar, paofufengshui, reprogramación, cuantica">
		<title>{title}</title>
		<meta name="description" content={openGraph.content}>
		<meta property="og:title" content={openGraph.title}>
		<meta property="og:description" content={openGraph.content}>
		<meta property="og:image" content={openGraph.url}>
		<meta property="og:image:type" content="image/jpg">
		<meta property="og:image:width" content={openGraph.width}>
		<meta property="og:image:height" content={openGraph.height}>
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content={openGraph.title}>
		<meta name="twitter:description" content={openGraph.content}>
		<meta name="twitter:image" content={openGraph.url}>
		<meta name="twitter:image:type" content="image/jpg">
		<meta name="twitter:image:height" content={openGraph.height}>
		<meta name="twitter:image:width" content={openGraph.width}>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>

<style is:global>
	@font-face {
		font-family: 'Overlock';
		src: url('/fonts/Overlock.ttf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: 'Overlock', sans-serif;
		background-color: #fff4f3;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body{
		margin: 0;
		min-height: 100vh;
	}
	main{
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
</style>


